.loginButton {
    width: 15em;
    padding: 0.3em;
    font-weight: bolder;
    cursor: pointer;

    border-radius: calc(2em + 0.3em);
    border: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    background-image: linear-gradient(to right, var(--blue-light), var(--blue-dark));
    background-size: 200% auto;
    background-position: 50% 50%;

    transition: background-position var(--transition-short);
}

.loginButton:hover {
    background-position: 80% 50%;
}

.loginButton .loginText {
    flex: 1;
    color: white;
    padding-left: 1.5em;
}

.loginButton .arrow {
    border-radius: 2em;
    padding: 0.5em;
    background-color: white;
}
