.footer {
    width: 100%;
    color: white;
    text-align: center;
    background-image: linear-gradient(to top, var(--blue-dark) 50px, white);
    position: relative;
    z-index: -2;
}

.footer .footerEnd {
    z-index: 1;
    padding: 1em 5em;
    background-color: var(--blue-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footerEnd .links a {
    margin-left: 1em;
    text-decoration: none;
    color: white;
}
