.button {
    width: 15em;
    padding: 0.3em;
    font-weight: bolder;
    cursor: pointer;

    border-radius: calc(2em + 0.3em);
    border: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    background-size: 200% auto;
    background-position: 50% 50%;
}

.blueButton {
    color: white;
    background-image: linear-gradient(to right, var(--blue-light), var(--blue-dark));
    transition: background-position var(--transition-short);
}

.blueButton:hover {
    background-position: 80% 50%;
}

.blueButton .arrow {
    color: var(--blue-dark);
    background-color: white;
}

.whiteButton {
    background-color: white;
    border: 1px solid grey;
}

.whiteButton .arrow {
    color: white;
    background-color: var(--blue-dark);
}

.button .text {
    flex: 1;
    padding-left: 1em;
}

.button .arrow {
    padding: 0.3em;
    border-radius: 2em;
}
