.welcomeContainer {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:
        linear-gradient(to bottom, var(--blue-light), transparent),
        radial-gradient(circle at bottom, var(--blue-dark) 10%, white 100%);
}

.welcomeContainer .welcomeText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5vw;
    font-weight: bolder;
}

.welcomeContainer .welcomeText .secondLine {
    background: -webkit-linear-gradient(blue, skyblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcomeContainer .welcomeText .finalLine {
    padding: 1em;
    font-weight: normal;
    font-size: 0.5em;
    text-align: center;
}

.welcomeContainer .welcomeText .finalLine span {
    font-weight: bold;
    color: var(--blue-dark);
}

.welcomeContainer .buttonsContainer {
    width: 100%;
    gap: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcomeContainer .people {
    width: 100%;
    max-width: 1200px;
    margin-top: 5em;
    border-radius: 1em;
    filter: grayscale(100%);
}
