.navContainer {
    height: 6em;
    width: 100%;
    padding: 1em;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
}

.navContainer .logo {
    height: 100%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.navContainer .logo:hover {
    opacity: 0.8;
}

.navContainer .navLinksContainer {
    display: flex;
    align-items: center;
}

.navContainer .navLinksContainer a {
    margin: 1em;
    text-decoration: none;
    color: var(--blue-dark);
    font-weight: bold;
}
